resource_group_name = "tf-rg"
location = "koreacentral"
nsg_name = "tf-nsg"
nsg_rules = [
    {
        name                       = "ssh"
        priority                   = 100
        direction                  = "Inbound"
        access                     = "Allow"
        protocol                   = "Tcp"
        source_address_prefix      = "*"
        source_port_range          = "*"
        destination_address_prefix = "*"
        destination_port_range     = "22"
    },
    {
        name                       = "http"
        priority                   = 110
        direction                  = "Inbound"
        access                     = "Allow"
        protocol                   = "Tcp"
        source_address_prefix      = "*"
        source_port_range          = "*"
        destination_address_prefix = "*"
        destination_port_range     = "80,8080"
    },
    {
        name = "private_rule"
        priority = 120
        direction = "Inbound"
        access = "Allow"
        protocol = "Tcp"
        source_address_prefixes = ["172.16.0.1", "172.16.0.2"]
        source_port_range            = "*"
        destination_address_prefixes = ["10.0.0.0/24", "192.168.0.1"]
        destination_port_range       = "3000,3001"
    }
]
